.App {

  .App-header {
    background-color: #282c34;
    min-height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    margin-bottom: 12px;
  }

  .App-link {
    color: #61dafb;
  }

  #content {
    max-width: 1280px;
    margin: auto;
  }
  
}
